@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.player {
    color: rgb(173, 186, 187);
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    font-family: 'Roboto Mono', monospace;

    &_container {
        margin-top: 20px;
        max-width: 1180px;  
    }
}

.form {
    &_field {
        margin-bottom: 10px;
    }

    &_button {
        width: 100px;
    }
}

#name {
    width: 100px;
}

#textarea {
    width: 350px;
    resize: none;
}

app-comment-add {
    display: block;
}

app-comment-list{
    font-family: 'Roboto Mono', monospace;
}


youtube-player {
    width: 700p;
}