<header class="header">
  <div class="header_container">
    <a routerLink="/" title="Logo" class="header_logo">
      <svg width="40px" height="40px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"
        aria-labelledby="videoIconTitle" stroke="#000000" stroke-width="1" stroke-linecap="square"
        stroke-linejoin="miter" fill="none" color="#000000">
        <title id="videoIconTitle">Main page</title>
        <polygon points="18 12 9 16.9 9 7" />
        <circle cx="12" cy="12" r="10" />
      </svg>
      <span class="header_logo-text">AllVideos</span>
    </a>
  </div>

</header>
