@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono&display=swap');


.header {
    padding: 10px 30px;
    background-color: hsl(211, 90%, 8%);

    &_container {
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
    }

    &_logo {
        width: 300px;
        display: flex;
        text-align: center;

    &-text {
        margin-top: 2px;
        font-size: 30px;
    } 

        svg {
            width: 30px;
            fill: rgb(173, 186, 187, .3);
            margin-bottom: 2px;
        }


        &-text {
            font-family: 'Lobster', cursive;
            color: rgb(173, 186, 187);
        }
    }
}

