@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt:wght@700&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.youtube-player-container {
    display: flex;
    max-width: 1180px;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: stretch;


    &_item {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        align-items: stretch;

        

        &-a {
            margin-left: auto;
            margin-right: auto;
            
        }

        &-header {
            margin-top: 7px;
            font-family: 'Roboto Mono', monospace;
            font-size: 8px;
            max-width: 165px;
            color: rgb(173, 186, 187)
        }

        &-img {
            width: 165px;
            height: 100px;
        }
    }
} 

@media (max-width: 641px) {
    .youtube-player-container {
        flex-direction: column;

        &_item {
            align-items: center;
            margin-bottom: 15px;

        }
    }
}
